<% provide(:title, "About") %>

<center><h3>About Edigaul and Rohkshe</h3></center>
<div class="pageText">
  <p>
    Edigaul [<em>EH-dih-gawl</em>] is an abugida I created about a year ago for a fictional
    language I've been creating called Rohkshe [<em>RAWK-shee</em>] which itself is a language
    from a fictional world I've been developing for more years than I can remember.
  </p>
</div>

<center><h4>What is an abugida?</h4></center>
<div class="pageText">
  <p>
    An abugida is a writing system similar to an alphabet. Before describing what an abugida is,
    it's best if we define exactly what an alphabet is. First, in a spoken language, we have consonants
    and vowels. You know what those are, presumably, so no need to explain them. Second, in a writing
    system, we have letters. A letter is a symbol used to denote a sound in a language. In an alphabet,
    each consonant and each vowel gets their own letter. In the English alphabet, vowels letters are
    complicated. One vowel letter, or multiples in a row (creating a diphthong), can denote a variety
    of different sounds. Consonant letters in English are a bit more consistent, though they can have
    their exceptions, too.
  </p>
  <p>
    Vowels and consonants in an abugida are represented by letters differently than they are in an
    alphabet. In an abugida, only consonants are represented by letters, and, like in an alphabet,
    there is one letter for each consonant. Vowels are represented by markings applied to those
    consonant letters. Thus, each "unit" in an abugida represents a sequence of vowel sounds and
    a single consonant.
  </p>
  <p>
    You can learn more about abugidas by reading the 
    <a href="https://en.wikipedia.org/wiki/Abugida">Wikipedia article</a>
    about them.
  </p>
</div>

<center><h4>How do I read this "Edigaul"?</h4></center>
<p class="pageText">
  [ Instructions for reading and writing in the Edigaul abugida here ]
</p>
