<% provide(:title, "Help") %>

<center><h3>Help</h3></center>

<center><h4>The Buttons</h4></center>
<div class="pageText">
  <p>
    The top group of buttons are all the consonant sounds in the Edigaul abugida. Click one of these buttons to add a consonant to the end of the text.
  </p>
  <p>
    The second group of buttons are all the vowel sounds in the Edigaul abugida. Click one of these buttons to add a vowel marker to the end of the text. The text tool will automatically place all the vowel markers you type in the correct position according to the rules of the Edigaul abugida. Go to the <a href="/about">About</a> page to learn about these rules.
  </p>
  <p>
    THe last group of buttons has the morpheme break button and the backspace button. The backspace button removes the last consonant or vowel mark you added to the text. The morpheme break button does not add any visible letters to the text, instead it marks the boundaries between morphemes in a word. A morpheme is a unit within a word which has a distinct meaning and cannot be broken into smaller meaningful units. For example, the word "unhelpful" has three morphemes. Those are un, help, and ful. Go to the <a href="/about">About</a> page to learn about why morpheme breaks are necessary for the Edigaul abugida.
  </p>
</div>

<center><h4>The Display above the Buttons</h4></center>
<div class="pageText">
  <p>
    There are two things displayed here. At the top, which starts blank, the text you enter with the buttons is displayed using the Edigaul abugida. The second thing is a string of text (marked "String form") which shows how the Edigaul is encoded in plaintext, which is useful for copying and pasting Edigaul without losing the information about which vowel marks should be attached to which consonants and where. Each set of brackets in this string represents one unit. In the middle of each set of brackets is a consonant between to plus signs. Before the first plus sign is either nothing or the vowel mark that should go above that consonant. After the second plus sign is, again, either nothing, or it is the vowel mark that should go below that consonant. This way of writing Edigaul also informs you on the order in which to pronounce the sounds. You can just read this string from left to right. Note that a consonant of "sp" is a silent placeholder. These are, as you would expect, silent and unpronounced. Silent placeholders exist for vowels which end up "lonely," that is, without a nearby consonant to attach to.
  </p>
</div>

<center><h4>The Bottom Links</h4></center>
<div class="pageText">
  <p>
    The first link (the "Clear" link) clears what you have written using the buttons.
  </p>
  <p>
    The second link leads you to this page for help on how to use the Edigaul text tool.
  </p>
</div>

<br><br><br>