<% provide(:title, "Reading and Writing in Edigaul") %>

<h1>[ Reading and Writing in Edigaul Page Here ]</h1>
<p>
  [ Instructions for reading and writing in the Edigaul
  <a href="https://en.wikipedia.org/wiki/Abugida">abugida</a>
  here ]
</p>
