<p>
  Consonant IPA:
</p>
<table>
  <tr>
    <th>Symbol</th>
    <th>IPA</th>
  </tr>
  <tr>
    <td>B</td>
    <td>[b]</td>
  </tr>
  <tr>
    <td>D</td>
    <td>[d]</td>
  </tr>
  <tr>
    <td>F</td>
    <td>[f]</td>
  </tr>
  <tr>
    <td>G</td>
    <td>[g]</td>
  </tr>
  <tr>
    <td>H</td>
    <td>[h]</td>
  </tr>
  <tr>
    <td>J</td>
    <td>[ʤ]</td>
  </tr>
  <tr>
    <td>K</td>
    <td>[k]</td>
  </tr>
  <tr>
    <td>L</td>
    <td>[l]</td>
  </tr>
  <tr>
    <td>M</td>
    <td>[m]</td>
  </tr>
  <tr>
    <td>N</td>
    <td>[n]</td>
  </tr>
  <tr>
    <td>P</td>
    <td>[p]</td>
  </tr>
  <tr>
    <td>R</td>
    <td>[ɹ]</td>
  </tr>
  <tr>
    <td>S</td>
    <td>[s]</td>
  </tr>
  <tr>
    <td>T</td>
    <td>[t]</td>
  </tr>
  <tr>
    <td>V</td>
    <td>[v]</td>
  </tr>
  <tr>
    <td>W</td>
    <td>[w]</td>
  </tr>
  <tr>
    <td>Y</td>
    <td>[j]</td>
  </tr>
  <tr>
    <td>Z</td>
    <td>[z]</td>
  </tr>
  <tr>
    <td>Sh</td>
    <td>[ʃ]</td>
  </tr>
  <tr>
    <td>Ch</td>
    <td>[ʧ]</td>
  </tr>
  <tr>
    <td>Th</td>
    <td>[θ]</td>
  </tr>
  <tr>
    <td>Zh</td>
    <td>[ʒ]</td>
  </tr>
  <tr>
    <td>X</td>
    <td>[z]</td>
  </tr>
</table>