<p>
  Vowel IPA:
</p>
<table>
  <tr>
    <th>Symbol</th>
    <th>Example</th>
    <th>IPA</th>
  </tr>
  <tr>
    <td>eh</td>
    <td>like e in bet</td>
    <td>[ɛ]</td>
  </tr>
  <tr>
    <td>ee</td>
    <td>like ee in bee</td>
    <td>[i]</td>
  </tr>
  <tr>
    <td>ah</td>
    <td>like o in bot</td>
    <td>[ɑ]</td>
  </tr>
  <tr>
    <td>aa</td>
    <td>like a in bat</td>
    <td>[æ]</td>
  </tr>
  <tr>
    <td>aw</td>
    <td>like aw in law</td>
    <td>[ɔ]</td>
  </tr>
  <tr>
    <td>ay</td>
    <td>like ay in lay</td>
    <td>[eɪ]</td>
  </tr>
  <tr>
    <td>uh</td>
    <td>like u in but</td>
    <td>[ʌ] or [ə]</td>
  </tr>
  <tr>
    <td>uu</td>
    <td>like oo in book</td>
    <td>[ʊ]</td>
  </tr>
  <tr>
    <td>oh</td>
    <td>like oa in boat</td>
    <td>[o] or [oʊ]</td>
  </tr>
  <tr>
    <td>oo</td>
    <td>like oo in boot</td>
    <td>[u]</td>
  </tr>
  <tr>
    <td>ih</td>
    <td>like i in bit</td>
    <td>[ɪ]</td>
  </tr>
  <tr>
    <td>ahy</td>
    <td>like eye</td>
    <td>[aɪ]</td>
  </tr>
</table>