<% if flash[:word_errors] %>
  <div id="errorExplanation">
    <h4>Word could not be added because of <%= pluralize(flash[:word_errors].count, "error") %>:</h4>

    <div>
      <ul>
      <% flash[:word_errors].each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  </div>
<% end %>