<% provide(:title, "Tool") %>

<main>
  <center>
    <h3>Edigaul Abugida Text Tool</h3>
    <%= render "shared/in_progress_edigaul" %>
    <%= render "shared/edigaul_tool" %>

    <br><br>

    <%= render "letter_tables/consonant_ipa" %>
    <%= render "letter_tables/vowel_ipa" %>
  </center>
</main>
