<% provide(:title, "Dictionary") %>

<main>
  <center>
    <h3>Rohkshe Dictionary</h3>

    <%= render "shared/success" %>
    <%= render "shared/dictionary" %>
    <%= render "shared/add_word_form" %>
  </center>
</main>
