<% provide(:title, "Dictionary") %>

<center>
  <h3>Rohkshe Dictionary</h3>

  <%= render "shared/success" %>

  <a href="/dictionary/new">Add a Word</a>
  <br>
  <br>
  <%= render "shared/dictionary" %>
</center>