/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  background-color: rgb(229, 207, 180);
}

body {
  margin-bottom: 5rem;
}

p, h4, li {
  font-size: 13pt;
}

nav.navbarBox {
  width: 100%;
  min-height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.15);
  border-width: 2px;
  border-style: solid;
  border-color: black;
}

div.navbarRightButtons {
  min-height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

a.navbarTextButton {
  margin: 0;
  display: flex;
  color: transparent;
}

.navbarText {
  margin: 0 1rem;
  color: black;
  font-size: 12pt;
}

.navbarBigText {
  margin: 0 1rem;
  color: black;
  font-size: 18pt;
}

table, td, th {
  padding: 5px;
  border: 1.5px solid black;
  border-collapse: collapse;
  text-align: center;
  font-weight: normal;
}

span.edigaulTextBox {
  display: flex;
  justify-content: center;
}

span.edigaulWord {
  margin-right: 6px;
  display: flex;
  justify-content: center;
}

span.edigaulUnit {
  position: relative;
}

img.consonantImg {
  max-height: 30px;
}

img.topVowelImg {
  max-height: 30px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

img.bottomVowelImg {
  max-height: 30px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  transform: scaleY(-1);
}

img.consonantImgLarge {
  max-height: 75px;
}

img.topVowelImgLarge {
  max-height: 75px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

img.bottomVowelImgLarge {
  max-height: 75px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  transform: scaleY(-1);
}

.signature {
  margin: 0.5vh;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 5vh;
  height: 5vh;
}
