// Place all the styles related to the ToolPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.toolInProgressText {
  height: 2em;
}

div.letterButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  form {
    margin: 2px;
    input.morphemeBreak {
      margin-left: 20px;
    }
  }
}

div.toolEdigaulScript {
  margin-top: 1rem;
  height: 75px;
}